@charset "utf-8";

$color_main: #32353C;
$color_accent: #B79B6C;
$color-bg: #f4f4f4;

$breakpoints: (
    "sm": "screen and (min-width: 400px)",
    "md": "screen and (min-width: 768px)",
    "lg": "screen and (min-width: 1000px)",
    "xl": "screen and (min-width: 1200px)",
    ) !default;

@mixin mq($breakpoint) {
    @media #{map-get($breakpoints, $breakpoint)} {
        @content;
    }
}



@mixin inner($w: (800/900)*100%, $mw: 1200px) {
    width: $w;
    max-width: $mw;
    margin-left: auto;
    margin-right: auto;
}

@mixin flex($a: center, $j: space-between) {
    display: flex;
    flex-wrap: wrap;
    justify-content: $j;
    align-items: $a;
}


html {
    font-size: (14/16)+em;
    // font-size: (14em/16);

    @include mq(md) {
        font-size: (16/16)+em;
    }
}

body {
    font-family: Helvetica,
        Arial,
        sans-serif;
    color: $color_main;
    line-height: (24/14 //なんの２４/14...p
    );

}

img {
    max-width: 100%;
    height: auto;
    vertical-align: baseline;
}

a {
    text-decoration: none;
}

ul {
    padding-left: 0;
    list-style: none;
}



.header {
    padding: 32px 0;
    // モバイルとパソコンが変わらないのでピクセル
    background-color: rgba(255, 255, 255, .8);
    position: fixed;
    width: 100%;
    z-index: 9999;

    &__inner {
        @include inner();
        @include flex();


    }
}

.gnav {
    &__list {
        @include flex();
    }

    &__item {
        margin-left: 32px;
        //モバイルとパソコンが変わらないのでピクセル
    }

    &__link {
        color: $color_main;
        font-weight: bold;
        font-size: (16/14)+rem;
        //モバイルは14pxが基準
        transition: .3s;

        @include mq(md) {
            font-size: (16/16)+rem;
            // pcは16pxが基準,モバイルとパソコンでサイズが同じなのでメディアクエリで両方書く必要がある
        }


        &--current,
        &:hover {
            color: $color_accent;
        }

    }

}

.visual {
    &__pic {
        margin-bottom: (84/14)+em; //要素にfont-sizeが指定されてなければ基準の14で計算  今回は全部モバイルとパソコンで６倍になってるけど一応
        width: 100%; //一応
        height: clamp(600px, 75vw, 800px); //モバイルのサイズ(最小値)、高さ/ウィンドウサイズ*100、パソコンのサイズ
        object-fit: cover; //heightで伸びたやつを綺麗に見せてくれる
    }

}

.unit {
    &__message {


        color: $color_accent;
        font-size: (24/16)+rem;

    }

    &__title {
        font-size: (36/16)+rem;
        margin-bottom: (46/36)+em;
    }
}

.btn {
    display: block;
    width: 185px;
    background-color: $color_main;
    color: #fff;
    padding: (25/16)+em;
    text-align: center;
    font-weight: bold;
    transition: .3s;
}

.btn:hover {
    background-color: $color_accent;

}

/*----------about.htnl-------------*/

.label {

    position: absolute;
    top: 20px;
    left: 20px;
    display: inline-block;
    background-color: $color_accent;
    padding: (15/14)+em (30/14)+em;
    color: #fff;
    line-height: 1;

}

.card {
    &__pic {
        aspect-ratio: 370/492; //比率を揃えたい画像の親要素にaspect-ratio
        position: relative;
        margin-bottom: (32/16)+em;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover //画像にこの３つ
        }
    }

    &__info {
        font-size: (24/16)+rem;
        font-weight: bold;
        line-height: (31/24);
    }

    &__price {
        color: $color_accent;
    }

    &__title {
        margin: (24/24)+em 0 (12/24)+em;

    }

}


.clothes {

    margin-bottom: (96/16)+em;

    &__header {
        @include inner();
        text-align: center;
        margin: 0 auto (96/16)+em;

        .span {
            display: inline-block;
        }
    }

    &__body {
        padding: (84/14)+em 0;
        background-color: $color-bg
    }

    &__list {
        @include inner();
        @include flex();
        margin-bottom: -(56/14)+em;
    }

    &__item {
        width: (370/800)*100%;
        margin-bottom: (56/14)+em;

        @include mq(md) {
            width: (360/1200)*100%;
        }
    }

    &__btn {
        margin: (64/16)+em auto 0;
    }

}




.post {

    margin-bottom: (96/16)+em;

    &__inner {
        @include inner();
        margin-bottom: -(54/14)+em;


        @include mq(md) {
            @include flex(stretch);
            //align-itemをstretchにして高さを揃える

        }
    }


    &__item {
        margin-bottom: (56/14)+em;
        padding: (112/14)+em (42/14)+em;
        color: #fff;

        @include flex(); //itemの中の文字たちを真ん中揃えにするためにflex、 余白を一つずつつけると大変なので一個にpaddingをつけてflexで真ん中揃えにする

        @include mq(md) {
            width: (560/1200)*100%;

        }

        &.item01 {
            // post__itemとitem02のクラス名を両方持ってるとき
            background: url(../images/bg_post02.png)no-repeat center/cover;
        }

        &.item02 {
            background: url(../images/bg_post03.png)no-repeat center/cover;
        }
    }
}



/*----------footer-------------*/

.footer {
    font-size: 16px;
    background-color: $color_main;
    color: #fff;
    padding: (128/16)+em 0 (64/16)+em;


    &__inner {
        @include inner();
    }

    &__small {
        @include flex(center, space-between);

    }

}